Source: fapws
Section: unknown
Priority: extra
Maintainer: Yuri Borisov <yuri.borisov.v@gmail.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: fapws
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Finite Automata programming framework
 Framework for running Finite Automata (FA) and Discrete Events Systems (DES)

Package: fapws-dev
Architecture: any
Description: Finite Automata programming framework development pkg
